@font-face {
    font-family: 'source_sans_problack';
    src: url('sourcesanspro-black-webfont.woff2') format('woff2'),
         url('sourcesanspro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}