<header>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            You know
            <br />
            you need
            <br />
            to code
          </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Splurting out unsolicited advice about entrepreneurship since 1987
      </div>
      <div class="col-5 links float-lg-right">
        <span><%= link_to 'Contribute', new_quote_path %></span>
        <span><%= link_to 'About', '#' %></span>
      </div>
    </div>
  </div>
</header>